<div ng-controller="newanswerController">
	<button ng-click="logout()">Logout</button><br>
	<a href="{{ '#/' }}">Home</a> | 
	<a href="{{ '#question/' + question._id }}">Go Back to Question</a>
	
	<div>
		<h4>{{ question.question }}</h4>
		<p>{{ question.description }}</p>
	</div>
	<form name="answerForm">
		<p>Your Answer: <input type="text" name="answer" ng-model="new_answer.answer" ng-minlength="5"></p>
			<p ng-show="answerForm.answer.$error.minlength">Question field must be minimum of 5 characters!</p>
		<p>Supporting details for your answer (optional): <input type="text" name="description" ng-model="new_answer.description"></p>
		<button ng-click="goHome()">Cancel</button>
		<button ng-click="postAnswer(userId, question._id, new_answer)">Submit</button>
	</form>
</div>